*{
  margin:0;
  padding: 0;
}

body{
  background: linear-gradient( #13021a, #262529) ;
  width: 100%;
  height: 100vh;
}

.heading{
  font-size: 3em;
  color: antiquewhite;
  text-align: center;

}

.box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 35px;
  height: 65px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 50s linear infinite;
  bottom: -500px;
  border-radius: 15px;
  
}

.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2){
  left: 16%;
  width: 55px;
  height: 55px;
  animation-delay: 1.5s;
  animation-duration: 20s;
}

.box-area li:nth-child(3){
  left: 23%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}


.box-area li:nth-child(4){
  left: 36%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}


.box-area li:nth-child(5){
  left: 66%;
  width: 75px;
  height: 75px;
  animation-delay: 13s;
}


.box-area li:nth-child(6){
  left: 76%;
  width: 160px;
  height: 160px;
  animation-delay: 0s;
}

.box-area li:nth-child(7){
  left: 42%;
  width: 95px;
  height: 95px;
  animation-delay: 15s;
}

.box-area li:nth-child(8){
  left: 5%;
  width: 95px;
  height: 95px;
  animation-delay: 15s;
  animation-duration: 20s;
}


@keyframes animate{
  0%{
    transform:  translateY(0) rotate(0deg);
    opacity: 1;
  }
  50%{
    
    opacity: 1;
  }
  100%{
    transform:  translateY(-1200px) rotate(360deg);
    opacity: 0;
  }
}

.card-style{
  position: relative;
  display: flex;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  height: 350px;
}

.card-style:hover{
  transform: translateY(20px);
  cursor: pointer;
}

.card-style:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% ;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(15, 5, 32));
  transition: 0.5s all;
  opacity: 0;
  z-index: 2;
}

.card-style:hover:before{
  opacity: 1;
}

.card-style .info{
  z-index: 3;
  color: #fff;
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 400;
}

.card-style:hover .info{
  opacity: 1;
  transform: translateY(0px)
  
}

.card-style img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-style Button{
  background: #fff;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  border: none;
}



.card-style Button:hover{
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  background: rgb(5, 63, 11);
}