*{
  margin: 0;
  padding: 0;
} 

 body{

  background: linear-gradient(rgb(14, 13, 13), rgb(75, 51, 51));
min-height: 1500px;
}

.header {
  background-color: rgba(37, 37, 36, 0.726);
  font-size: 25px;
  font-weight: bolder;
  margin-top:0px ;
  
}

/* Home */

.containder-style{
 background-color: rgb(51, 40, 40);
 padding-top: 20px;
 padding-bottom: 20px;
}

.img-animation {
  transition: 0.5s ease ;
  cursor: pointer;

}
.img-animation:hover {
  transform: scale(1.1);
}
.seperator {
  margin: 25px 0;
  border-radius: 60%;
  width: 300px;
  height: 8px;
  background-color: rgb(134, 85, 85);
  margin-left: auto;
  margin-right: auto;
}
.text-style1{
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  background: rgb(163, 128, 128);
  position: absolute;
  left: 160px;
  z-index: 1;
  padding: 20px;
}

.text-style2{
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  background:rgb(163, 128, 128);
  position: absolute;
  right: 200px;
  z-index: 1;
  height: 325px;
  padding: 20px;
}

.text-style3{
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  background: rgb(163, 128, 128);
  position: absolute;
  left: 180px;
  padding: 20px;
  z-index: 1;
  height: 430px;
}

.text-style4{
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  background: rgb(163, 128, 128);
  position: absolute;
  right: 250px;
  z-index: 1;
  padding: 20px;
  height: 317px;
}

.headings{
  color: rgb(241, 231, 231);
  font-weight: 550;
  font-size: 35px;
  font-family: "Times New Roman";
}

/* Slider */

.carouselStyle{
  height: 100vh;
  position: relative;
}

.carouItem img{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slideOverlay{
  position: absolute;
  height:100%;
  min-height: 810px;
}
.slideOverlay-fill5{
  fill: rgba(236, 193, 187, 0.829);
}
.slideOverlay-fill1{
  fill: rgba(126, 71, 35, 0.829);
}
.slideOverlay-fill2{
  fill: rgba(49, 56, 68, 0.925);
}
.slideOverlay-fill3{
  fill: rgba(30, 33, 39, 0.828);
}
.slideOverlay-fill4{
  fill: rgba(41, 34, 20, 0.828);
}

.slide__text1{
  position: absolute;
  color: rgba(139, 72, 72, 0.911);
  margin-top: 120px;
  padding: 60px;
  font-family: 'Noto Serif', serif;
}

.slide__text{
  position: absolute;
  color: #fff;
  margin-top: 120px;
  padding: 60px;
  font-family: 'Noto Serif', serif;
}

.slide__text-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Ranchers', cursive;
  letter-spacing: 3px;
}

.slide__text-desc{
  font-size: 21px;
}


/* CardsGroup */

.card-bg{
  border: none;
  color: rgb(241, 231, 231);
  font-size: 23px !important;
  background: rgb(163, 128, 128)!important;
  transition: 0.5s ease-in-out;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card-bg:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% ;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(14, 13, 15));
  transition: 0.5s all;
  opacity: 0;
  z-index: 2;
}

.card-bg:hover{
  transform: translateY(20px);
  cursor: pointer;
}
.card-bg:hover:before{
  opacity: 1;
}
.heading1{
  color:  rgb(243, 230, 230);
  font-weight: bolder !important;
  font-size: 35px !important;
  font-family: "Times New Roman" !important ;
  
}

.card-style{
  position: relative;
  display: flex;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  height: 100%;
  border-radius: 13px !important;
}

.card-style:hover{
  transform: translateY(20px);
  cursor: pointer;
}

.card-style:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% ;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(14, 13, 15));
  transition: 0.5s all;
  opacity: 0;
  z-index: 2;
}

.card-style:hover:before{
  opacity: 1;
}

.card-style .info{
  z-index: 3;
  color: #fff;
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 400;
}

.card-style:hover .info{
  opacity: 1;
  transform: translateY(0px)
  
}

.card-style img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-style Button{
  background: #fff;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  border: none;
}



.card-style Button:hover{
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  background: rgb(92, 50, 50);
}
