*{
  margin: 0;
  padding: 0;
} 

 body{

  background: linear-gradient(rgb(0, 0, 0), rgb(14, 15, 15));
min-height: 1500px;
}

/* Slider */

.carouselStyle{
  height: 100vh;
  position: relative;
}

.carouItem img{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slideOverlay{
  position: absolute;
  height:100%;
  min-height: 810px;
}
.slideOverlay-fill1{
  fill: rgba(126, 71, 35, 0.829);
}
.slideOverlay-fill2{
  fill: rgba(49, 56, 68, 0.925);
}
.slideOverlay-fill3{
  fill: rgba(30, 33, 39, 0.828);
}
.slideOverlay-fill4{
  fill: rgba(41, 34, 20, 0.828);
}

.slide__text{
  position: absolute;
  color: #fff;
  margin-top: 120px;
  padding: 60px;
  font-family: 'Noto Serif', serif;
}

.slide__text-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Ranchers', cursive;
  letter-spacing: 3px;
}

.slide__text-desc{
  font-size: 21px;
}
