html{
  scroll-behavior: smooth !important;
}

*{
  margin: 0;
  padding: 0 ;
} 

 body{

  background: linear-gradient(rgb(14, 13, 13), rgb(49, 34, 34));
min-height: 1500px;
}


/* Header */

.header {
  background-color: rgba(37, 37, 36, 0.726);
  font-size: 25px;
  font-weight: bolder;
  margin-top:0px ;
}

.brand-name{
  font-family: 'Ranchers', cursive;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 40px;
  color:rgb(236, 227, 227) ;
}


/* Footer */
.footer{
  background-color: #180e0da4 !important;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  margin-top: 9em;
  color: antiquewhite;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
}

.box{
  background-color: rgba(14, 13, 13, 0.651) !important;
  width: 100%;
  height: 70px;
  color: #fcf8f7;
}


/* Home */

.head-eternity{
  margin-top: 4em;
}
.head-eternity h2{
  color: #bd7c7c;
  font-size: 3em;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.head-eternity h1{
  text-align: center;
  color: #574541;
  font-size: 3em;
  font-family: 'PT Serif', serif;
}

.head-eternity h4{
  text-align: center;

  font-family: 'PT Serif', serif;
}


.header-box3{
  margin-top: 4em;
  position: relative;
  height: 620px;
  background: url(/img/39.jpg) no-repeat;
  object-fit: contain;
  background-attachment: fixed;
  overflow: hidden;
}

.img7{
  height: 100%;
  width: 100%;
  background-image: url(/img/tomato.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-260px;
  top: 200px;
  
}

.img8{
  height: 100%;
  width: 100%;
  background-image: url(/img/onion2.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-1000px;
  top: 200px;
  
}
.img9{
  height: 100%;
  width: 100%;
  background-image: url(/img/onion1.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-1130px;
  top: 340px;
}
.img11{
  height:100%;
  width: 100%;
  background-image: url(/img/carrot1.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-57px;
  top: 530px;
  
}

.img12{
  height:100%;
  width: 100%;
  background-image: url(/img/cherry2.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-400px;
  top: -350px;
  
}



.bg-img1{
  margin-top: 8em;
  position: relative;
  margin-bottom: 8em;
  background: url(/img/35.jpg);
  object-fit: contain !important;
  height: 700px;
}

.bg-img4{
  margin-top: 8em;
  position: relative;
  margin-bottom: 4em;
  background: url(/img/57.jpg);
  object-fit: contain !important;
  height: 600px;
}
.bg-img1 h2{
  position: absolute;
  color: #c0ad50;
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
  top: 500px;
  left: 630px;
}
.bg-img1 h1{
  position: absolute;
  color: #eedbd6;
  font-size: 3em;
  font-family: 'PT Serif', serif;
  top: 550px;
  left: 420px;
}


.section-1 .row .col-md-6 img{
  height: 80%;
  width: 130%;
}

.section-1 .row .col-md-6:last-child{
  position: relative;
}

.section-1 .row .col-md-6 .panel{
  position: absolute; 
  background: #fff;
  text-align: left;
  top: 7vmin;
  left: -18vmin;
  box-shadow:0px 25px 42px rgba(0,0,0,0.2) ;
}

.containder-style{
 background-color: rgb(51, 40, 40);
 padding-top: 20px;
 padding-bottom: 20px;
}

.img-animation {
  transition: 0.5s ease ;
  cursor: pointer;

}
.img-animation:hover {
  transform: scale(1.1);
}
.seperator {
  margin: 25px 0;
  border-radius: 60%;
  width: 300px;
  height: 8px;
  background-color: rgb(134, 85, 85);
  margin-left: auto;
  margin-right: auto;
}
.text-style1{

  color: rgb(22, 22, 22) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  
  /* background: rgb(163, 128, 128);
  left: 160px;
  z-index: 1;
  padding: 20px; */
}

.text-style2{
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  background:rgb(163, 128, 128);
  /* right: 200px;
  z-index: 1;
  height: 325px;
  padding: 20px; */
}

.text-style3{
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  background: rgb(163, 128, 128);
  /* left: 180px;
  padding: 20px;
  z-index: 1;
  height: 430px; */
}

.text-style4{
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, se rif;
  font-size: 24px;
  background: rgb(163, 128, 128);
  /* right: 250px;
  z-index: 1;
  padding: 20px;
  height: 317px; */
}

.headings{
  color: rgb(241, 231, 231);
  font-weight: 550;
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}

/* Book My Table */

.book-table h3{
  color: #bd7c7c;
  font-size: 2em;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.book-table h2{
  text-align: center;
  color: #eedbd6;
  font-size: 2em;
  font-family: 'PT Serif', serif;
}

.book-table Button{
  border: 0px;
  background: rgb(204, 149, 149);
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.book-table Button:hover{
  border: 0px;
  background: rgb(114, 73, 73);
}



/* Slider */

.welcome-img{
  height: 300px !important;
  width: 200px !important;
}

.carouselStyle{
  height: 100vh;
  position: relative;
}

.carouItem img{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slideOverlay{
  position: absolute;
  height:100%;
  min-height: 810px;
}
.slideOverlay-fill5{
  fill: rgba(236, 193, 187, 0.829);
}
.slideOverlay-fill1{
  fill: rgba(126, 71, 35, 0.829);
}
.slideOverlay-fill2{
  fill: rgba(49, 56, 68, 0.925);
}
.slideOverlay-fill3{
  fill: rgba(30, 33, 39, 0.828);
}
.slideOverlay-fill4{
  fill: rgba(41, 34, 20, 0.828);
}

.slide__text1{
  position: absolute;
  color: rgb(126, 60, 60);
  margin-top: 120px;
  padding: 60px;
  font-family: 'Noto Serif', serif;
}

.slide__text{
  position: absolute;
  color: #fff;
  margin-top: 120px;
  padding: 60px;
  font-family: 'Noto Serif', serif;
}

.slide__text-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Ranchers', cursive;
  letter-spacing: 3px;
}

.slide__text-desc{
  font-size: 21px;
}


/* CardsGroup */

.card-bg{
  border: none;
  color: rgb(241, 231, 231);
  font-size: 23px !important;
  background: rgb(163, 128, 128)!important;
  transition: 0.5s ease-in-out;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card-bg:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% ;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(14, 13, 15));
  transition: 0.5s all;
  opacity: 0;
  z-index: 2;
}

.card-bg:hover{
  transform: translateY(20px);
  cursor: pointer;
}
.card-bg:hover:before{
  opacity: 1;
}
.heading1{
  color:  rgb(243, 230, 230);
  font-weight: bolder !important;
  font-size: 35px !important;
  font-family: "Times New Roman" !important ;
  
}

.card-style{
  position: relative;
  display: flex;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  height: 100%;
  border-radius: 13px !important;
}

.card-style:hover{
  transform: translateY(20px);
  cursor: pointer;
}

.card-style:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% ;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(14, 13, 15));
  transition: 0.5s all;
  opacity: 0;
  z-index: 2;
}

.card-style:hover:before{
  opacity: 1;
}

.card-style .info{
  z-index: 3;
  color: #fff;
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 400;
}

.card-style:hover .info{
  opacity: 1;
  transform: translateY(0px)
  
}

.card-style img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-style Button{
  background: rgb(204, 168, 168);
  font-size: 16px;
  color: #000;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  border: none;
}



.card-style Button:hover{
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  background: rgb(92, 50, 50);
}


/* ABOUT US*/

.bg-img2{
  margin-top: 6em;
  position: relative;
  margin-bottom: 6em;
  background: url(/img/41.jpg) no-repeat;
  background-position: center;
  height: 650px;
  background-size: cover;
}
.bg-img2 h2{
  position: absolute;
  color: #000000;
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
  top: 250px;
  left: 540px;
}
.bg-img2 h1{
  position: absolute;
  color: #111010;
  font-size: 3em;
  font-family: 'PT Serif', serif;
  top: 300px;
  left: 220px;
}



.our-team{
  font-family: 'Ranchers', cursive;
  color: rgb(126, 60, 60);
  font-size: 4em;
  letter-spacing: 3px;
}
.header-box1{
  position: relative;
  height: 700px;
  background: url(/img/25.jpg) no-repeat;
  object-fit: contain;
  background-attachment: fixed;
  background-size: auto 700px;
}

.img1{
  height: 100%;
  width: 100%;
  background-image: url(/img/23.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-160px;
  top: -100px;
  
}

.img2{
  height: 100%;
  width: 100%;
  background-image: url(/img/24.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-260px;
  top: 200px;
  
}



.chefs-img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border-color: rgb(184, 141, 141);
  border-style: solid;
  border-width: 8px;
}

.chef1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  background: rgb(133, 87, 87);
  padding-top: 70px;
  padding-bottom: 70px;
}

.chef2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}

.chef3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  background: rgb(133, 87, 87);
  padding-top: 70px;
  padding-bottom: 70px;
}

.header-box2{
  position: relative;
  height: 850px;
  background: url(/img/bg2.jpg) ;
  object-fit: contain;
  background-attachment: fixed;
  background-size: auto 700px;
}

.img3{
  height: 100%;
  width: 100%;
  background-image: url(/img/28.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-850px;
  top: 820px;
  z-index: 2;
}

.img4{
  height: 100%;
  width: 100%;
  background-image: url(/img/31.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-240px;
  top: 600px;
  z-index: 1;
}

.img5{
  height: 100%;
  width: 100%;
  background-image: url(/img/29.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-320px;
  top: 1490px;
  
}

.img6{
  height: 100%;
  width: 100%;
  background-image: url(/img/30.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-left:-900px;
  top: 950px;
  z-index: 3;
}

.text-style5{
  position: relative;
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  background: rgb(163, 128, 128);
  left: 3em;
  z-index: 1;
  padding: 20px;
  top:60px;
}

.text-style6{
  position: relative;
  color: rgb(241, 231, 231) !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  background: rgb(163, 128, 128);
  padding: 20px;
  height: 420px;
  left: 40px;
  z-index: 1;
  top: 120px;
}

.OurPeople-img{
  right: 10px;
  position: absolute;
}


/* OnScroll*/

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: contain;
  background: url(/img/36.png);
  background-attachment: fixed;
  clip-path:  circle(0px at center);
}

.layer{
  position: relative;
  margin-top: 200vh;
  background: linear-gradient( #0c0303,  #530606) ;
  height:207vh ;
}
.shift{
  margin-top: 6em !important;
}
.layer h2{
  color: antiquewhite;
  font-size: 3em;
  font-family: 'Ranchers', cursive;
  margin-bottom: 1em;
  text-shadow:1px 2px 0px #928b8b  ;
  letter-spacing: 3px;
}


.layer p{
  color: antiquewhite;
  font-size: 17px;
}

.title{
  position: relative;
  top: 41em;
  z-index: 1;
  text-align: center;
  font-size: 17px;
  width: 100%;
  color: rgb(224, 227, 230);
  font-weight: bold;
}


/* WavyCards */

.wavy-card{
  margin-top: 7em;
  margin-bottom: 7em;
  position: relative;
  width: 300px;
  height: 900px;
  color: rgb(231, 216, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 15px linear-gradient(
    transparent, transparent, rgba(0,0,0,0.2));
}

.wavy-card:hover{
  color: #000;
  cursor: pointer;
}

.wavy-card:before{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border: 4px solid rgb(231, 216, 216);
  background: #000;
  filter: url(#wavy);
}

.wavy-card:hover:before{
  background: rgb(231, 216, 216);
  transition: 0.5s;
}

.card-content{
  position: absolute;
  transition: 0.5s;
  font-weight: 600;
}


.wavy-card:after{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 50%;
  height: 100%;
  border: 4px solid rgb(231, 216, 216);
  border-right: none;
  filter: url(#wavy);
  background:rgba(255, 255, 255, 0.1);
}



.wavy-jumbo{
  background: linear-gradient(rgb(0, 0, 0), rgb(41, 39, 39));
  border-radius: 21px !important;
}


/* ContactForm  */

.form-style{
  font-size: 20px;
  font-weight: 700;
  color: #e7e1e1;
  margin: 2em;
}

.form-card{
  background-color: rgba(25, 27, 27, 0.904) !important;
  margin-top: 1em;
  box-shadow: 0 10px 35px rgba(139, 12, 12, 0.801);
}
.form-button{
  border: none;
  border-radius: 16px;
  color:#e7e1e1;
  background-color: #837c7c;
  font-size: 21px;
  width: 7em;
  height: 3em;
  font-weight: 700;}

  
/* Menu */

.img13{
  height: 200px;
  width: 240px;
  background-image: url(/img/47.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:-20px;
  top: 1300px;
  
}

.img14{
  height: 200px;
  width: 200px;
  background-image: url(/img/46.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:1300px;
  top: 1100px;
  
}
.img15{
  height: 200px;
  width: 310px;
  background-image: url(/img/48.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:1180px;
  top: 2670px;
  
}
.img16{
  height: 200px;
  width: 200px;
  background-image: url(/img/50.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:-20px;
  top: 3500px;
  
}

.img17{
  height: 200px;
  width: 200px;
  background-image: url(/img/51.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:20px;
  top: 5000px;
  
}
.img18{
  height: 200px;
  width: 200px;
  background-image: url(/img/52.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:1200px;
  top: 6000px;
  
}
.img19{
  height: 200px;
  width: 270px;
  background-image: url(/img/53.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:1200px;
  top: 1300px;
  
}
.img20{
  height: 200px;
  width: 374px;
  background-image: url(/img/54.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:980px;
  top: 2850px;
  
}

.header-box4{
  position: relative;
  height: 550px;
  background: url(/img/42.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.header-box5{
  position: relative;
  height: 550px;
  background: url(/img/indian_food.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  opacity: 0.5;
}

.header-box6{
  position: relative;
  height: 550px;
  background: url(/img/dessert.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  opacity: 0.5;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}


.carouselCatering{
  color: rgb(236, 208, 208);
  background: rgb(0, 0, 0);
}
   

