@media only screen and (max-width: 800px){
    
    .media-img1 {
        width: 95%;
        height: 103%;
    }
    .media-img2 {
        width: 80%;
        height: 100%;
      }
    .media-img3 {
        width: 80%;
        height: 103%;
    }
    .media-img4 {
        width: 80%;
        height: 140%;
    }
    .media-img5 {
        width: 100%;
        height: 100%;
    }
    .media-img6 {
        width: 98%;
        height: 100%;
    }

    .media-OurFood{
        font-size: 15px;
        width: 340px;
        margin-top: 20px;
    }
}