*{
  padding:0px;
  margin-top: 0px;
}

.jumbo{
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: 530px;
  object-fit: contain;
  background: url(/img/slide1.jpg)  !important;
}

.nav-header{
  background: linear-gradient(179.71deg, #FFFFFF 1.21%, rgba(255, 255, 255, 0.78) 75.29%, rgba(255, 255, 255, 0) 126.05%);
}

.nav-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px !important;
  font-weight: 700;
}

.card-style1{
  background: linear-gradient(215.25deg, #FFAB2E 5.85%, #FFC369 92.99%);
  box-shadow: 0px 5px 20px rgba(255, 195, 105, 0.45) !important;
  border-radius: 20px !important;
}

.card-style2{
  background: linear-gradient(143.79deg, #FFF626 0.14%, #FFF281 93.49%);
  box-shadow: 0px 5px 20px rgba(255, 246, 38, 0.3) !important;
  border-radius: 20px !important;
}

.card-style3{
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1) !important;
  border-radius: 20px 20px 0px 0px !important;
  margin-top: 2em;
}

.card-style4{
  background: #FFF281 !important;
  border-radius: 20px !important;
  margin-top: 3em;
}

.card-style5{
  
  background: #FFEC50;
  border: 4px solid #FFD646;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
}

.card-style6{
  margin-top: 2em;
  background: linear-gradient(236.92deg, #2D2D2D -0.45%, #626262 29.38%, #5C5C5C 55.07%, #303030 95.15%);
  border-radius: 20px 20px 0px 0px !important;
  
}

.card-style7{
  position: relative;
  margin-top: -20px;
  background: #fcfbfb;
  box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1) !important;
  border-radius: 20px !important;
  margin-bottom: 10em;
}

.redeem{
  background: #FFCC15;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: #fff;
  font-size: 35px;
  box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1);
  border-radius: 0px 0px 20px 20px;
  
}

.headings{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  font-weight: 800;
}

.btn{
  background: #FFCC15 !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 20px !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  border: 0px !important;
}

.sub-headings{
  color: #33333344;
  font-weight: 700;
}

.footer{
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
  padding: 10px;
}