/* Bg.js */
*{
  margin: 0;
  padding: 0;
}

body{
  background: #0a2a43;
  min-height: 1500px;
}

.bg-style{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-style:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}

.bg-style:after{
  content: '';
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  background:  #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}

section img{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text{
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}

/* Parallax */
.container-style{
  background: #f9f9f9;
  font-size: 17px;
}

.parallaxx{
  background: url("/img/bg7.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}