/* Bg.js */
/* *{
  margin: 0;
  padding: 0;
}

body{
  background: #0a2a43;
  min-height: 1500px;
}

.bg-style{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-style:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}

.bg-style:after{
  content: '';
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100%;
  background:  #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}

section img{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text{
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
} */

/* Parallax */
.container-style{
  background: #f9f9f9;
  font-size: 17px;
}

.parallaxx{
  background: url("/img/bg7.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

/* ParallaxHeader */

h1{
  color: #ccc;
  font-weight: 300;
}

.content article{
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}



.bird-box{
  position: relative;
  height: 600px;
  background: url(/img/bird-bg.jpg);
  object-fit: contain;
  background-attachment: fixed;
  background-size: auto 600px;
  overflow: hidden;
}

.fore-bird{
  width: 960px;
  height: 733px;
  background: url(/img/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
}


.logoo{
  height: 100px;
  width: 100%;
  background-image: url(/img/black-bird-logo.svg) ;
  background-position: center;
  top: 50%;
  margin-top: -50px;
  position: absolute;
  background-repeat: no-repeat;
}

.back-bird{
  width: 960px;
  height: 298px;
  background-image: url(/img/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

.large-window{
  height: 640px;
  background-image: url(/img/model2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 50%;
}

/* Slider */

.carouselStyle{
  height: 100vh;
  position: relative;
}

.carouItem img{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slideOverlay{
  position: absolute;
  height:100%;
  min-height: 810px;
}
.slideOverlay-fill1{
  fill: rgba(172, 199, 240, 0.829);
}
.slideOverlay-fill2{
  fill: rgba(211, 108, 122, 0.822);
}
.slideOverlay-fill3{
  fill: rgba(65, 174, 207, 0.828);
}
.slideOverlay-fill4{
  fill: rgba(28, 17, 59, 0.828);
}

.slide__text{
  position: absolute;
  color: #fff;
  margin-top: 120px;
  padding: 60px;
  font-family: 'Noto Serif', serif;
}

.slide__text-heading{
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Ranchers', cursive;
  letter-spacing: 3px;
}

.slide__text-desc{
  font-size: 21px;
}